/* Header fijo en resoluciones móviles (menores a 1240px) */
@media only screen and (max-width: 1239px) {
    #Top_bar.is-sticky {
        position: fixed !important;
        width: 100%;
        left: 0;
        z-index: 701;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    }

    /* Espacio reservado para el header fijo en móvil */
    .sticky-header .header_placeholder {
        height: auto !important;
    }
}
